

.logo {
 
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 06px #65c1f3aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

::-webkit-scrollbar{width: 5px; height: 5px;}
::-webkit-scrollbar-track {background-color: hsl(0, 0%, 93%);}
::-webkit-scrollbar-thumb {background-color: hsl(33, 81%, 79%);}
::-webkit-scrollbar-thumb:hover {background-color: red;}




.first{
  width:330px;
 
}
#accordion1{
  height: 78vh;
  overflow-y: scroll;
}
.navba{
  display: flex;
  justify-content: space-between;
}

 b{
  border: 0.5px solid;
  margin-left: -150px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: rgb(2, 124, 245);
}
#b2{
  background: rgb(245, 2, 2);

}
#b3{
  background: rgb(255, 255, 13);

}
.main-div{
  /* background: #000; */
  /* width: 600px; */
  /* overflow-x: scroll; */
}
.main-div2 {

  display: flex;
  justify-content: space-between;
  /* gap: 1.4rem; */
  max-width: 1030px;
  height: 88vh;
  overflow-x: scroll;
  
}
.list0, .list1, .list2, .list3{
  border-radius: 5px;
  width: 320px;
  
}
*{
  /* border: solid red; */
}
#accordion{
  overflow-y: scroll;
  width: 320px;
  max-height: 80vh;
}
.list0{
  background-color: rgba(172, 255, 47, 0.35);
}
.list0 div a{
  width: 60px;
  height: 10px;
  border-radius: 5px;
  background: rgb(155, 255, 4);
}

.list1{
  background: rgba(2, 124, 245, 0.258);
}
.list1 div a{
  width: 60px;
  height: 10px;
  border-radius: 5px;
  background: rgb(2, 124, 245);
}
.list2{
  background: rgba(245, 2, 2, 0.258);

}
.list2 div a{
  width: 60px;
  height: 10px;
  border-radius: 5px;
  background: rgba(245, 2, 2, 0.999);
}
.list3{
  background: rgba(255, 255, 0, 0.234);

}
.list3 div a{
  width: 60px;
  height: 10px;
  border-radius: 5px;
  background: rgb(254, 254, 21);

}